/ {
    /* Define dummy encoder nodes so references resolve */
    encoder_left: encoder_left {
        compatible = "zmk,encoder";
        status = "disabled";
    };

    encoder_right: encoder_right {
        compatible = "zmk,encoder";
        status = "disabled";
    };

    /* Override sensors so it doesn't try to use them */
    sensors {
        compatible = "zmk,sensors";
        status = "disabled";
    };
};
